/* Mi código CSS */

body {
  padding-top: 60px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

/*****************************************************************

    HEADER

/*****************************************************************/

#header {
  background-color: #2e6dbb;
  border-bottom: 4px solid #ffde7f;
}

#header-logo {
  width: auto;
  height: 20px;
}

/*****************************************************************

    HOME

/*****************************************************************/

#home {
  flex: 1;
}

#home-intro {
  border-bottom: 4px solid #ff8f00;
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/cars_home/audi_1.jpg");
  margin-bottom: 30px;
}

#home h1 span {
  font-weight: 300;
}

#home .card h4 {
  font-size: 1.3rem;
  margin: 0;
}

#home hr {
  margin: 1.9rem 0 2.5rem;
}

@media (max-width: 767px) {
  #home-intro {
    height: 250px;
  }
  #home h1 {
    font-size: 26px;
  }
}

.slider {
  height: 600px;
}

/*****************************************************************

    FOOTER

/*****************************************************************/

#footer {
  background-color: #2e6dbb;
  border-top: 4px solid #ffde7f;
  margin-top: 40px;
  color: #eeeeee;
  padding: 20px 0;
  font-size: 1rem;
  width: 100%;
}

#footer-logo {
  width: auto;
  height: 20px;
  margin-bottom: 15px;
}

#footer ul {
  margin: 0;
  padding: 0;
}

#footer ul li {
  list-style: none;
  margin-bottom: 6px;
}

#footer ul li a,
#footer ul li a:visited {
  color: #eeeeee;
  text-decoration: none;
}


.logo {
  height: 20px;
}

.auto {
  width: 100%;
  border: gray solid 2px;
  padding: 3px;
}

.filtrar{
  background-color: lightgrey;
  padding: 3%;
  border: gray 1px solid;
  border-radius: 5px;
}

.bienvenida {
  margin-top: 10%;
}

.nuevo {
  left: 10px;
  top: 10px;
  background-color: #ff8f00;
}


.spotify {
  background-color: transparent;

}

.padre {
  /* IMPORTANTE */
  text-align: center;
  position: relative;
  bottom: -30%;
}

.hijo {
  
  padding: 10px;
  margin: 10px;
}